########################################################
# gitignore for my own stuff
########################################################
# Ignore files with .tmp in their name
# Ignore folders with tmp in their name
*.tmp*
*tmp*/

.quarto/
_frozen/
*.jupyter_cache/
########################################################
# gitignore for python projects
########################################################
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
